section{
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: fit-content; */
    border-radius: 10px;
    padding: 40px;
    
}

div{
    background-color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    /* margin: auto; */
    width: 25%;
}

h2{
    color: red;
}

a{
    font-weight: 1000;
    text-decoration: none;
}




