.intro {
    text-align: left; clear: both;
}


table{
    text-align: left;
}

.right_align{
    padding-left: 1000px;
}

.larger_font{
    font-size: larger;
}

#medium_font{
    font-size: medium;
}



