h1 {
    color: rgb(0, 0, 0);
    font-size: 48px;
}
h3 {
    color: rgb(83, 11, 91);
}
p {
    color: rgb(192,0,212);
}

#myheader {
    color: rebeccapurple;
    font-size: 48px;
}

h3.redtext{
    color: red;
}

.bluetext{
    color: blue;
}

