
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Black.ttf');
}


.parent{
    background-color: #ffebcd;
    padding: 1%;
    /* border: 20px; */
}

.main {
    font-family: 'Cookie', cursive;
    font-size: 24px;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:active{
    color: red;
}

table{
    text-align: left;
}

.profile_pic{
    width: 140px;
    height: 140px;
    /* transition-property: width, height;
    transition-delay: 0ms;
    transition-duration: 1s;
    transition-timing-function: ease; */
    transition: width 1s ease, height 1s ease;
}

.profile_pic:hover{
    width: 280px;
    height: 280px;
}


.header{
    background-color: burlywood;
    /* width: 100px;
    height: 100px;
    /*padding: 2px; */
    /* width: 700px; */
    /* position: sticky; */
    top: 5%;
    /* top: 10px; */
    text-align: left; clear: both;
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    /*font-family: 'Roboto Slab', serif;
    /*font-family: 'Roboto Slab', sans-serif; /*Custom Font Style Import*/
    /* transition-property: width, height, font-size, color, backround-color;
    transition-delay: 0ms;
    transition-duration: 1s;
    transition-timing-function: ease; */
    transition: all 1s ease;
}

.header:hover{
    width: 1400px;
    /* height: 1400px; */
    font-size: 32px;
    color: white;
    background-color: black;    
}

.container:hover{
    background-color: lightgray;
}

.container:active{
    background-color: gray;
}

.right_align{
    float: right; clear: both;
    padding-left: 500px;
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end; */
    /* style="text-align: right: ; clear: left" */
    text-align: right; clear: both;
}

.direct_links{
    background-color: burlywood;
    padding: 2px;
    position: sticky;
    top: 1%;
    /*width: 1000px;*/
    font-size: 16px;
    font-family: 'Aclonica', sans-serif;
    /*font-family: 'Roboto Slab', sans-serif; /*Custom Font Style Import*/
}

.inputs{
    background-color: #deb887;
    /*padding: 2px;
    width: 1000px;*/
    padding: 5px;
    /* display: flex; */
    font-size: 24px;
    /* flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px 10px;
    grid-template-areas: 
    "date submit"
    "place sign";
}
.date{
    grid-area: date;
}
.submit{
    grid-area: submit;
    text-align: right; clear: left;
}
.place{
    grid-area: place;
}
.sign{
    grid-area: sign;
    text-align: right; clear: left;
}

progress{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    width: 200px;
    margin-left: 100px;
    align-self: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(148,96,61);
}

/*Chrome, Safari and Edge*/
progress[value]::-webkit-progress-bar{
    background-color: rgb(48, 26, 11);
}

progress[value]::-webkit-progress-value{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(45deg, #a15b00 25%, #b0b0ad 25%, #b0b0ad 50%, #a15b00 50%, #a15b00 75%, #b0b0ad 75%, #b0b0ad 100%);
    background-size: 56.57px 56.57px;
    
    /*background-image: linear-gradient(45deg, #c4445c 25%, #c22544 25%, #c22544 50%, #c4445c 50%, #c4445c 75%, #c22544 75%, #c22544 100%);
    background-size: 56.57px 56.57px;*/
}

.cookies{
    align-content: center;
    /* align-items: center;clear: both; */
    background-color: #a15b00;
    padding: 20px 20px 20px 20px;
    text-align: left;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    font-size: small;
    width: fit-content;
    margin: auto;
    box-shadow: 20px 20px black;
}

section{
    padding: 20px;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

button{
    width: 100%;
    padding: 10px;
    font-weight: bold;
}


@media print {
    .container {
        background-color: white;
        padding: 1%;
        color: black;
        font-size: 16px;
    }
}
